{"openapi":"3.1.0","info":{"title":"VideoGen API","version":"1.0.0","description":"Programmatically generate images, videos, voiceovers, sound effects, and avatar clips. All tool runs are asynchronous: `POST /v1/tools/...` returns a `toolExecutionId`; poll `GET /v1/tools/executions/{toolExecutionId}` until `status` is `succeeded`, `failed`, or `cancelled`, or subscribe to webhooks. Workflow runs use `workflowRunId` (`vg_work_...`); poll `GET /v1/workflows/runs/{workflowRunId}`. All IDs are prefixed strings (e.g. `vg_tool_...`, `vg_work_...`, `vg_file_...`). Store them as-is and do not parse them."},"servers":[{"url":"https://api.videogen.io","description":"Production"}],"tags":[{"name":"Workflows","description":"End-to-end async video workflows. Each endpoint starts a workflow run that creates a project and generates a video."},{"name":"Projects","description":"Read project metadata and status."},{"name":"Tools","description":"Generate images, videos, audio, and more. All tool endpoints are asynchronous."},{"name":"Text","description":"Generate text with a general-purpose language model. Synchronous — the response includes the generated text."},{"name":"Files","description":"List and retrieve metadata for generated files."},{"name":"Entities","description":"Reusable actors and visual styles. Attach their reference images to workflows for consistent characters and looks across generations."},{"name":"Resources","description":"Discover available avatar presenters and TTS voices to use in tool requests."},{"name":"Webhooks","description":"Register endpoints to receive `tool_execution.*` and `workflow_run.*` events instead of polling."},{"name":"Account","description":"Look up the account and team behind the API key. Useful as a connection test to confirm a key is valid."},{"name":"Webhook events","description":"Event payloads delivered to your registered webhook endpoints."}],"security":[{"bearerAuth":[]}],"paths":{"/v1/workflows/script-to-video":{"post":{"tags":["Workflows"],"operationId":"scriptToVideo","x-fern-audiences":["rest"],"summary":"Script to video","description":"Creates a project and generates a narrated video from a prompt or script. Returns immediately with a workflow run id; poll or subscribe to webhooks for completion.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScriptToVideoRequest"}}}},"responses":{"202":{"description":"Workflow run accepted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartWorkflowRunResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"request":{"script":"Staying hydrated keeps your body and mind running at their best. Drinking enough water boosts your energy, focus, and mood. Keep a water bottle nearby and sip throughout the day.","visualStyle":{"type":"AI_IMAGE","aiStyle":"loose watercolor illustration with visible brushstrokes and soft color bleeds"},"visualPacing":"MEDIUM","quality":"HIGH","remixActions":[{"type":"ENABLE_CAPTIONS"},{"type":"CONVERT_IMAGES_TO_VIDEOS","motionPrompt":"slow cinematic push-in","muteOutputVideos":true,"quality":"HIGH"}]},"response":{"body":{"workflowRunId":"vg_work_ccm3abc123defcm3xyz789ghi","projectId":"vg_proj_9dTk3mQ1rZ7xP4vN2sB6wc","projectUrl":"https://app.videogen.io/project/1f0a2b3c-4d5e-6789-ab12-cdef34567890","remixActionIds":["vg_rmix_ka9d2mZq7vTb1n0847PceR","vg_rmix_pQ0s6xLm4dWc9r2318YgHt"]}}}]}},"/v1/workflows/add-visuals-narrations-and-captions-to-script":{"post":{"tags":["Workflows"],"operationId":"addVisualsNarrationsAndCaptionsToScript","x-fern-audiences":["internal"],"deprecated":true,"summary":"Script to video (legacy alias)","description":"Legacy alias for `POST /v1/workflows/script-to-video`. Use that endpoint instead.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScriptToVideoRequest"}}}},"responses":{"202":{"description":"Workflow run accepted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartWorkflowRunResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v1/workflows/voiceover-to-video":{"post":{"tags":["Workflows"],"operationId":"voiceoverToVideo","x-fern-audiences":["rest"],"summary":"Voiceover to video","description":"Creates a project from an uploaded voiceover file and generates a video with matching b-roll. Upload the voiceover via the files API first.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoiceoverToVideoRequest"}}}},"responses":{"202":{"description":"Workflow run accepted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartWorkflowRunResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"request":{"fileId":"vg_file_obLD1OX2eJCrEs0071Z4kA","visualStyle":{"type":"AI_IMAGE","aiStyle":"warm cinematic photography with soft natural lighting and shallow depth of field"},"quality":"HIGH","remixActions":[{"type":"CONVERT_IMAGES_TO_VIDEOS","motionPrompt":"gentle parallax drift","muteOutputVideos":true,"quality":"HIGH"},{"type":"EDIT_WITH_AGENT","prompt":"Replace the closing title card with \"Book a demo today\""}]},"response":{"body":{"workflowRunId":"vg_work_ccm3abc123defcm3xyz789ghi","projectId":"vg_proj_9dTk3mQ1rZ7xP4vN2sB6wc","projectUrl":"https://app.videogen.io/project/1f0a2b3c-4d5e-6789-ab12-cdef34567890","remixActionIds":["vg_rmix_ka9d2mZq7vTb1n0847PceR","vg_rmix_pQ0s6xLm4dWc9r2318YgHt"]}}}]}},"/v1/workflows/add-visuals-and-captions-to-voiceover":{"post":{"tags":["Workflows"],"operationId":"addVisualsAndCaptionsToVoiceover","x-fern-audiences":["internal"],"deprecated":true,"summary":"Voiceover to video (legacy alias)","description":"Legacy alias for `POST /v1/workflows/voiceover-to-video`. Use that endpoint instead.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VoiceoverToVideoRequest"}}}},"responses":{"202":{"description":"Workflow run accepted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartWorkflowRunResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v1/workflows/slideshow-to-video":{"post":{"tags":["Workflows"],"operationId":"slideshowToVideo","x-fern-audiences":["rest"],"summary":"Slideshow to video","description":"Creates a project from an uploaded PDF or PowerPoint file and generates an AI-narrated video walking through each slide. Upload the file via `POST /v1/files/upload` first.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SlideshowToVideoRequest"}}}},"responses":{"202":{"description":"Workflow run accepted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartWorkflowRunResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"request":{"fileId":"vg_file_obLD1OX2eJCrEs0071Z4kA","remixActions":[{"type":"ADD_TRANSITIONS","sectionTransition":"DYNAMIC","assetTransition":"FADE"},{"type":"CONVERT_IMAGES_TO_VIDEOS","motionPrompt":"subtle zoom with soft easing","muteOutputVideos":true,"quality":"HIGH"}]},"response":{"body":{"workflowRunId":"vg_work_ccm3abc123defcm3xyz789ghi","projectId":"vg_proj_9dTk3mQ1rZ7xP4vN2sB6wc","projectUrl":"https://app.videogen.io/project/1f0a2b3c-4d5e-6789-ab12-cdef34567890","remixActionIds":["vg_rmix_ka9d2mZq7vTb1n0847PceR","vg_rmix_pQ0s6xLm4dWc9r2318YgHt"]}}}]}},"/v1/workflows/add-narration-transitions-and-captions-to-slideshow":{"post":{"tags":["Workflows"],"operationId":"addNarrationTransitionsAndCaptionsToSlideshow","x-fern-audiences":["internal"],"deprecated":true,"summary":"Slideshow to video (legacy alias)","description":"Legacy alias for `POST /v1/workflows/slideshow-to-video`. Use that endpoint instead.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SlideshowToVideoRequest"}}}},"responses":{"202":{"description":"Workflow run accepted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartWorkflowRunResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v1/workflows/storyboard-to-video":{"post":{"tags":["Workflows"],"operationId":"storyboardToVideo","x-fern-audiences":["internal"],"summary":"Storyboard to video","description":"Creates a project from an ordered list of scenes and generates one section per scene. Each scene is generated from its prompt as either a still image or a video clip; the scenes are then assembled into a single video. Returns immediately with a workflow run id; poll or subscribe to webhooks for completion.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoryboardToVideoRequest"}}}},"responses":{"202":{"description":"Workflow run accepted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartWorkflowRunResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"request":{"defaultGeneration":{"type":"AI_IMAGE","aiStyle":"loose watercolor illustration with visible brushstrokes and soft color bleeds"},"defaultDurationSeconds":5,"scenes":[{"prompt":"A sunrise over a calm mountain lake, mist on the water."},{"prompt":"A hiker reaching the summit, arms raised in triumph.","generation":{"type":"AI_VIDEO","aiStyle":"cinematic film look with dramatic lighting and shallow depth of field"},"durationSeconds":6}]},"response":{"body":{"workflowRunId":"vg_work_ccm3abc123defcm3xyz789ghi","projectId":"vg_proj_9dTk3mQ1rZ7xP4vN2sB6wc","projectUrl":"https://app.videogen.io/project/1f0a2b3c-4d5e-6789-ab12-cdef34567890","remixActionIds":[]}}}]}},"/v1/workflows/generate-scenes-from-storyboard":{"post":{"tags":["Workflows"],"operationId":"generateScenesFromStoryboard","x-fern-audiences":["internal"],"deprecated":true,"summary":"Storyboard to video (legacy alias)","description":"Legacy alias for `POST /v1/workflows/storyboard-to-video`. Use that endpoint instead.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoryboardToVideoRequest"}}}},"responses":{"202":{"description":"Workflow run accepted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartWorkflowRunResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v1/workflows/runs":{"get":{"tags":["Workflows"],"operationId":"listWorkflowRuns","x-fern-audiences":["rest"],"summary":"List workflow runs","description":"List workflow runs started via the API, most recently created first. Use `selfOnly=true` to restrict results to the calling API key's user; otherwise all runs for the team are returned. Cursor-paginated; see the [Pagination](/pagination) guide.","parameters":[{"$ref":"#/components/parameters/PaginationLimit"},{"$ref":"#/components/parameters/PaginationCursor"},{"$ref":"#/components/parameters/SelfOnlyQuery"}],"responses":{"200":{"description":"Paginated list of workflow runs.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowRunListResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v1/workflows/runs/{workflowRunId}":{"get":{"tags":["Workflows"],"operationId":"getWorkflowRun","x-fern-audiences":["rest"],"summary":"Get workflow run status","parameters":[{"$ref":"#/components/parameters/WorkflowRunIdPath"}],"responses":{"200":{"description":"Current workflow run state.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowRun"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"path-parameters":{"workflowRunId":"vg_work_ccm3abc123defcm3xyz789ghi"},"response":{"body":{"workflowRunId":"vg_work_ccm3abc123defcm3xyz789ghi","status":"succeeded","workflowType":"SCRIPT_TO_VIDEO","progressPercentage":100,"attemptIndex":0,"projectId":"vg_proj_9dTk3mQ1rZ7xP4vN2sB6wc","projectUrl":"https://app.videogen.io/project/1f0a2b3c-4d5e-6789-ab12-cdef34567890"}}}]}},"/v1/workflows/runs/{workflowRunId}/cancel":{"post":{"tags":["Workflows"],"operationId":"cancelWorkflowRun","x-fern-audiences":["rest"],"summary":"Cancel a workflow run","parameters":[{"$ref":"#/components/parameters/WorkflowRunIdPath"}],"responses":{"202":{"description":"Cancellation request accepted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartWorkflowRunResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v1/projects":{"get":{"tags":["Projects"],"operationId":"listProjects","x-fern-audiences":["rest"],"summary":"List projects","description":"Returns projects, most recently updated first. By default only API-created projects are included; pass `includeUiProjects=true` to also include dashboard-created projects. Use `selfOnly=true` to restrict results to the calling API key's user; otherwise all matching projects for the team are returned. Cursor-paginated; see the [Pagination](/pagination) guide.","parameters":[{"$ref":"#/components/parameters/PaginationLimit"},{"$ref":"#/components/parameters/PaginationCursor"},{"$ref":"#/components/parameters/SelfOnlyQuery"},{"$ref":"#/components/parameters/IncludeUiProjectsQuery"}],"responses":{"200":{"description":"Paginated list of projects.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListProjectsResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"response":{"body":{"projects":[{"projectId":"vg_proj_9dTk3mQ1rZ7xP4vN2sB6wc","title":"Staying hydrated","aspectRatio":{"width":16,"height":9},"status":"ready","createdAt":"2026-05-23T12:00:00Z","updatedAt":"2026-05-23T12:04:30Z","projectUrl":"https://app.videogen.io/project/1f0a2b3c-4d5e-6789-ab12-cdef34567890"}],"hasMore":false,"nextCursor":null}}}]}},"/v1/projects/{projectId}":{"get":{"tags":["Projects"],"operationId":"getProject","x-fern-audiences":["rest"],"summary":"Get project metadata","description":"Returns a simplified view of a project including its title, aspect ratio, status, and URL.","parameters":[{"$ref":"#/components/parameters/ProjectIdPath"}],"responses":{"200":{"description":"Project metadata.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"path-parameters":{"projectId":"vg_proj_9dTk3mQ1rZ7xP4vN2sB6wc"},"response":{"body":{"projectId":"vg_proj_9dTk3mQ1rZ7xP4vN2sB6wc","title":"Staying hydrated","aspectRatio":{"width":16,"height":9},"status":"ready","createdAt":"2026-05-23T12:00:00Z","updatedAt":"2026-05-23T12:04:30Z","projectUrl":"https://app.videogen.io/project/1f0a2b3c-4d5e-6789-ab12-cdef34567890"}}}]}},"/v1/projects/{projectId}/export":{"post":{"tags":["Projects"],"operationId":"exportProject","x-fern-audiences":["rest"],"summary":"Export a project as MP4","description":"Starts an export of a project to MP4. Returns immediately with an export id; the file becomes available when the export task completes.","parameters":[{"$ref":"#/components/parameters/ProjectIdPath"}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExportProjectRequest"}}}},"responses":{"202":{"description":"Export accepted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExportProjectResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"path-parameters":{"projectId":"vg_proj_9dTk3mQ1rZ7xP4vN2sB6wc"},"request":{"quality":"FULL_HIGH"},"response":{"body":{"exportId":"vg_expo_4bHn8pR2sY5xM1vL3tC7wd"}}}]}},"/v1/projects/{projectId}/exports/{exportId}":{"get":{"tags":["Projects"],"operationId":"getProjectExport","x-fern-audiences":["rest"],"summary":"Get project export status","description":"Returns the current status of a project export started via `POST /v1/projects/{projectId}/export`.","parameters":[{"$ref":"#/components/parameters/ProjectIdPath"},{"$ref":"#/components/parameters/ExportIdPath"}],"responses":{"200":{"description":"Export status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectExport"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"path-parameters":{"projectId":"vg_proj_9dTk3mQ1rZ7xP4vN2sB6wc","exportId":"vg_expo_4bHn8pR2sY5xM1vL3tC7wd"},"response":{"body":{"exportId":"vg_expo_4bHn8pR2sY5xM1vL3tC7wd","projectId":"vg_proj_9dTk3mQ1rZ7xP4vN2sB6wc","status":"succeeded","progressPercentage":100,"attemptIndex":0,"downloadUrl":"https://stream.media.videogen.io/example/1080p.mp4?token=abc&download=Staying%20hydrated.mp4","thumbnailUrl":"https://image.media.videogen.io/example/thumbnail.jpg?token=abc"}}}]}},"/v1/projects/{projectId}/remix":{"post":{"tags":["Projects"],"operationId":"remixProject","x-fern-audiences":["rest"],"summary":"Apply remix actions to a project","description":"Applies an ordered list of edits (background music, logo overlay, caption visibility/style) to a project. Each action runs asynchronously as its own remix action; the response returns one remix action id per action in order. Set `saveAsNewProject` to apply the edits to a copy and leave the original untouched. Poll `GET /v1/projects/{projectId}/remix-actions` for status.","parameters":[{"$ref":"#/components/parameters/ProjectIdPath"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemixProjectRequest"}}}},"responses":{"202":{"description":"Remix actions accepted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemixProjectResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v1/projects/{projectId}/remix-actions":{"get":{"tags":["Projects"],"operationId":"listProjectRemixActions","x-fern-audiences":["rest"],"summary":"List remix actions for a project","description":"Returns every remix action applied to a project (via `POST /v1/projects/{projectId}/remix` or as a post-workflow step), most recent first, with each action's status and progress.","parameters":[{"$ref":"#/components/parameters/ProjectIdPath"}],"responses":{"200":{"description":"Remix actions for the project.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListRemixActionsResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v1/tools/generate-image":{"post":{"tags":["Tools"],"operationId":"generateImage","x-fern-audiences":["rest"],"summary":"Generate image","description":"Generate an image from a text prompt, optionally guided by one or more reference images. When reference images are provided, the prompt describes the desired transformation. VideoGen automatically routes each request to the most effective state-of-the-art image model for your prompt, reference images, and quality tier, so you don't pick a model.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateImageRequest"}}}},"responses":{"202":{"description":"Execution accepted; poll until complete.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartToolExecutionResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"request":{"prompt":"A serene mountain landscape at sunrise with vibrant colors and mist","quality":"STANDARD"},"response":{"body":{"toolExecutionId":"vg_tool_ccm3abc123defcm3xyz789ghi"}}},{"request":{"prompt":"Transform this photo into an oil painting style with warm autumn tones","quality":"STANDARD","imageFileIds":["vg_file_obLD1OX2eJCrEs0071Z4kA"]},"response":{"body":{"toolExecutionId":"vg_tool_ccm3abc123defcm3xyz789ghi"}}}]}},"/v1/tools/generate-video-clip":{"post":{"tags":["Tools"],"operationId":"generateVideoClip","x-fern-audiences":["rest"],"summary":"Generate video clip","description":"Generate a single short video clip (up to 15 seconds) from a text prompt, optionally guided by reference images, videos, and audio. At least one of `prompt`, `imageFileIds`, `videoFileIds`, or `audioFileIds` must be provided. VideoGen automatically routes each request to the most effective state-of-the-art video model for your inputs and settings, so you don't pick a model. This endpoint returns one standalone clip. For longer, higher-quality, professionally edited videos with narration, captions, music, and multiple scenes, use a video workflow such as [Script to video](/workflows) (`POST /v1/workflows/script-to-video`) instead.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateVideoClipRequest"}}}},"responses":{"202":{"description":"Execution accepted; poll until complete.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartToolExecutionResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"request":{"prompt":"A serene mountain landscape at sunrise with a flowing river and birds flying","quality":"STANDARD","generateAudio":true,"durationSeconds":6},"response":{"body":{"toolExecutionId":"vg_tool_ccm3abc123defcm3xyz789ghi"}}},{"request":{"prompt":"Apply a cinematic color grade with enhanced contrast and film grain","quality":"STANDARD","videoFileIds":["vg_file_jzosm31OGi-bPE1eb3qLnA"]},"response":{"body":{"toolExecutionId":"vg_tool_ccm3abc123defcm3xyz789ghi"}}},{"request":{"prompt":"Create a dynamic video animation from this serene mountain landscape image, adding subtle cloud movements and ambient nature sounds.","quality":"STANDARD","generateAudio":true,"imageFileIds":["vg_file_obLD1OX2eJCrEs0071Z4kA"]},"response":{"body":{"toolExecutionId":"vg_tool_ccm3abc123defcm3xyz789ghi"}}}]}},"/v1/tools/text-to-speech":{"post":{"tags":["Tools"],"operationId":"textToSpeech","x-fern-audiences":["rest"],"summary":"Text to speech","description":"Convert text into a spoken audio file. Only voices with `supportsDirectToolExecution` set to true can be used. Optionally choose a voice, language, speed, and pronunciation overrides.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TextToSpeechRequest"}}}},"responses":{"202":{"description":"Execution accepted; poll until complete.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartToolExecutionResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"request":{"ttsText":"Welcome to VideoGen, your AI-powered video creation assistant.","voiceId":"vg_voic_7t1wdka3tmk"},"response":{"body":{"toolExecutionId":"vg_tool_ccm3abc123defcm3xyz789ghi"}}}]}},"/v1/tools/generate-sound-effect":{"post":{"tags":["Tools"],"operationId":"generateSoundEffect","x-fern-audiences":["rest"],"summary":"Generate sound effect","description":"Generate a sound effect from a text description. Optionally control the duration and prompt influence. VideoGen automatically routes each request to the most effective state-of-the-art sound effect model for your prompt and settings, so you don't pick a model.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateSoundEffectRequest"}}}},"responses":{"202":{"description":"Execution accepted; poll until complete.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartToolExecutionResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"request":{"prompt":"Create a short, high-quality thunderclap sound effect with a deep rumble and sharp crack"},"response":{"body":{"toolExecutionId":"vg_tool_ccm3abc123defcm3xyz789ghi"}}}]}},"/v1/tools/generate-music":{"post":{"tags":["Tools"],"operationId":"generateMusic","x-fern-audiences":["rest"],"summary":"Generate music","description":"Generate an instrumental music track from a text description. The returned track is approximately 30 seconds long. VideoGen automatically routes each request to the most effective state-of-the-art music model for your prompt, so you don't pick a model.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateMusicRequest"}}}},"responses":{"202":{"description":"Execution accepted; poll until complete.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartToolExecutionResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"request":{"prompt":"Calm ambient piano with soft pads for a product demo intro"},"response":{"body":{"toolExecutionId":"vg_tool_ccm3abc123defcm3xyz789ghi"}}}]}},"/v1/tools/generate-avatar":{"post":{"tags":["Tools"],"operationId":"generateAvatar","x-fern-audiences":["rest"],"summary":"Generate avatar clip","description":"Generate a talking-head avatar video by pairing a presenter with an audio file, typically from a prior text-to-speech result.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateAvatarRequest"}}}},"responses":{"202":{"description":"Execution accepted; poll until complete.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartToolExecutionResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"request":{"avatarPresenterId":"vg_pres_a1ua8slxzfi","audioStorageFileId":"vg_file_obLD1OX2eJCrEs0071Z4kA"},"response":{"body":{"toolExecutionId":"vg_tool_ccm3abc123defcm3xyz789ghi"}}}]}},"/v1/tools/vectorize-image":{"post":{"tags":["Tools"],"operationId":"vectorizeImage","x-fern-audiences":["rest"],"summary":"Vectorize image","description":"Convert any raster image into a scalable vector graphic (SVG). The output traces the shapes and colors of the input image.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImageAssetRequest"}}}},"responses":{"202":{"description":"Execution accepted; poll until complete.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartToolExecutionResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"request":{"imageStorageFileId":"vg_file_obLD1OX2eJCrEs0071Z4kA"},"response":{"body":{"toolExecutionId":"vg_tool_ccm3abc123defcm3xyz789ghi"}}}]}},"/v1/tools/remove-image-background":{"post":{"tags":["Tools"],"operationId":"removeImageBackground","x-fern-audiences":["rest"],"summary":"Remove background from an image","description":"Remove the background from an image, returning a transparent-background PNG of the foreground subject.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImageAssetRequest"}}}},"responses":{"202":{"description":"Execution accepted; poll until complete.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartToolExecutionResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"request":{"imageStorageFileId":"vg_file_obLD1OX2eJCrEs0071Z4kA"},"response":{"body":{"toolExecutionId":"vg_tool_ccm3abc123defcm3xyz789ghi"}}}]}},"/v1/tools/remove-video-background":{"post":{"tags":["Tools"],"operationId":"removeVideoBackground","x-fern-audiences":["rest"],"summary":"Remove background from a video","description":"Remove the background from a video, producing a transparent-background video of the foreground subject.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VideoAssetRequest"}}}},"responses":{"202":{"description":"Execution accepted; poll until complete.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartToolExecutionResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"request":{"videoStorageFileId":"vg_file_jzosm31OGi-bPE1eb3qLnA"},"response":{"body":{"toolExecutionId":"vg_tool_ccm3abc123defcm3xyz789ghi"}}}]}},"/v1/tools/upscale-image":{"post":{"tags":["Tools"],"operationId":"upscaleImage","x-fern-audiences":["rest"],"summary":"Upscale an image","description":"Increase the resolution of an image while preserving detail and sharpness.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImageAssetRequest"}}}},"responses":{"202":{"description":"Execution accepted; poll until complete.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartToolExecutionResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"request":{"imageStorageFileId":"vg_file_obLD1OX2eJCrEs0071Z4kA"},"response":{"body":{"toolExecutionId":"vg_tool_ccm3abc123defcm3xyz789ghi"}}}]}},"/v1/tools/upscale-video":{"post":{"tags":["Tools"],"operationId":"upscaleVideo","x-fern-audiences":["rest"],"summary":"Upscale a video","description":"Increase the resolution of a video while preserving detail and sharpness.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VideoAssetRequest"}}}},"responses":{"202":{"description":"Execution accepted; poll until complete.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartToolExecutionResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"request":{"videoStorageFileId":"vg_file_jzosm31OGi-bPE1eb3qLnA"},"response":{"body":{"toolExecutionId":"vg_tool_ccm3abc123defcm3xyz789ghi"}}}]}},"/v1/tools/image-3d-effect":{"post":{"tags":["Tools"],"operationId":"image3dEffect","x-fern-audiences":["rest"],"summary":"Add 3D motion to an image","description":"Turn a still image into a short video clip with a 3D parallax motion effect, simulating camera movement through the scene.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImageAssetRequest"}}}},"responses":{"202":{"description":"Execution accepted; poll until complete.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartToolExecutionResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"request":{"imageStorageFileId":"vg_file_obLD1OX2eJCrEs0071Z4kA"},"response":{"body":{"toolExecutionId":"vg_tool_ccm3abc123defcm3xyz789ghi"}}}]}},"/v1/tools/executions/{toolExecutionId}/cancel":{"post":{"tags":["Tools"],"operationId":"cancelToolExecution","x-fern-audiences":["rest"],"summary":"Cancel tool execution","description":"Request cancellation of a running tool execution. The execution transitions to `cancelled` if it has not already completed.","parameters":[{"$ref":"#/components/parameters/ToolExecutionIdPath"}],"responses":{"202":{"description":"Cancellation request accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartToolExecutionResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"path-parameters":{"toolExecutionId":"vg_tool_ccm3abc123defcm3xyz789ghi"},"response":{"body":{"toolExecutionId":"vg_tool_ccm3abc123defcm3xyz789ghi"}}}]}},"/v1/tools/executions":{"get":{"tags":["Tools"],"operationId":"listToolExecutions","x-fern-audiences":["rest"],"summary":"List tool executions","description":"List tool executions started via the API, most recently created first. Use `selfOnly=true` to restrict results to the calling API key's user; otherwise all executions for the team are returned. Cursor-paginated; see the [Pagination](/pagination) guide.","parameters":[{"$ref":"#/components/parameters/PaginationLimit"},{"$ref":"#/components/parameters/PaginationCursor"},{"$ref":"#/components/parameters/SelfOnlyQuery"}],"responses":{"200":{"description":"Paginated list of tool executions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolExecutionListResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v1/tools/executions/{toolExecutionId}":{"get":{"tags":["Tools"],"operationId":"getToolExecutionInfo","x-fern-audiences":["rest"],"summary":"Get tool execution info","description":"Retrieve the current status and result of a tool execution. Poll this endpoint until `status` is `succeeded`, `failed`, or `cancelled`.","parameters":[{"$ref":"#/components/parameters/ToolExecutionIdPath"}],"responses":{"200":{"description":"Current execution state","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecutedTool"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"path-parameters":{"toolExecutionId":"vg_tool_ccm3abc123defcm3xyz789ghi"},"response":{"body":{"toolExecutionId":"vg_tool_ccm3abc123defcm3xyz789ghi","status":"succeeded","toolType":"GENERATE_VIDEO_CLIP","progressPercentage":100,"attemptIndex":0,"results":[{"fileId":"vg_file_obLD1OX2eJCrEs0071Z4kA","type":"VIDEO"}]}}}]}},"/v1/files":{"get":{"tags":["Files"],"operationId":"getFiles","x-fern-audiences":["rest"],"summary":"List files","description":"List files in your account, including generated assets and uploads. Files are returned most recently updated first. Cursor-paginated; see the [Pagination](/pagination) guide.","parameters":[{"$ref":"#/components/parameters/PaginationLimit"},{"$ref":"#/components/parameters/PaginationCursor"}],"responses":{"200":{"description":"File list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetFilesResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"response":{"body":{"files":[{"fileId":"vg_file_mot8bV5POiscDeHyo7TF1g","type":"IMAGE","scope":"GLOBAL","displayName":"Project Logo","description":"High-resolution logo for the main project branding"}],"hasMore":false,"nextCursor":null}}}]}},"/v1/files/search":{"post":{"tags":["Files"],"operationId":"searchFiles","x-fern-audiences":["rest"],"summary":"Search files","description":"Semantic vector search over your files. Embeds the query text and returns the closest matching files ranked by cosine similarity. Only files with indexed descriptions are searchable.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchFilesRequest"}}}},"responses":{"200":{"description":"Search results ordered by descending similarity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchFilesResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"request":{"query":"sunset over mountains"},"response":{"body":{"results":[{"similarity":0.87,"file":{"fileId":"vg_file_EjRWeKvN7wEjRWeJq83vAQ","type":"IMAGE","scope":"GLOBAL","displayName":"Mountain Sunset","description":"A high-resolution image capturing a vibrant sunset over the Rocky Mountains.","durationSeconds":0,"transcript":"","thumbnailSource":{"status":"ready","url":"https://cdn.videogen.io/thumbnails/vg_file_EjRWeKvN7wEjRWeJq83vAQ.jpg?token=abc123","expiresAt":1710000000,"width":320,"height":180,"fileBytes":45000},"previewSource":{"status":"ready","url":"https://cdn.videogen.io/previews/vg_file_EjRWeKvN7wEjRWeJq83vAQ_720p.mp4?token=def456","expiresAt":1710000000,"width":1280,"height":720,"fileBytes":2500000},"downloadSource":{"status":"ready","url":"https://cdn.videogen.io/downloads/vg_file_EjRWeKvN7wEjRWeJq83vAQ_fullres.jpg?token=ghi789","expiresAt":1710000000,"width":3840,"height":2160,"fileBytes":8500000},"hlsSource":{"status":"skipped","url":"","expiresAt":0,"width":0,"height":0,"fileBytes":0},"isPublicPreviewEnabled":true,"publicHlsUrl":"","publicPlaybackId":"","sourceToolType":"GENERATE_IMAGE","sourceToolExecutionId":"vg_tool_9abc789xyzxyz123abc"}}]}}}]}},"/v1/files/{fileId}":{"get":{"tags":["Files"],"operationId":"getFile","x-fern-audiences":["rest"],"summary":"Get file","description":"Retrieve metadata for a single file by its id.","parameters":[{"$ref":"#/components/parameters/FileIdPath"}],"responses":{"200":{"description":"File metadata","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageFile"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"path-parameters":{"fileId":"vg_file_obLD1OX2eJCrEs0071Z4kA"},"response":{"body":{"fileId":"vg_file_obLD1OX2eJCrEs0071Z4kA","type":"IMAGE","scope":"GLOBAL","displayName":"Sunset Beach Photo","description":"High-resolution image of a sunset over the beach with vibrant colors."}}}]}},"/v1/files/upload":{"post":{"tags":["Files"],"operationId":"createFileUpload","x-fern-audiences":["rest"],"summary":"Create file upload","description":"Create a new file and receive a pre-signed upload URL. PUT the file bytes to the returned URL, then poll `GET /v1/files/{fileId}` until the file is ready.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFileUploadRequest"}}}},"responses":{"200":{"description":"Upload instructions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileUploadResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"request":{"type":"VIDEO","displayName":"My Campaign Video"},"response":{"body":{"fileId":"vg_file_obLD1OX2eJCrEs0071Z4kA","uploadUrl":"https://9f3a7c1e8b4d6a0f2c5e9b1d7a8c3f60.r2.cloudflarestorage.com/storage-files-prod/vg_file_obLD1OX2eJCrEs0071Z4kA/primary-source?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=example%2F20260505%2Fwnam%2Fs3%2Faws4_request&X-Amz-Date=20260505T120000Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=exampleSignatureValue"}}}]}},"/v1/files/{fileId}/hydrate":{"post":{"tags":["Files"],"operationId":"hydrateFile","x-fern-audiences":["rest"],"summary":"Hydrate file","description":"Generate fresh signed URLs for all available renditions of a file. Call this when source URLs are missing or expired. Returns the full file object with populated `thumbnailSource`, `previewSource`, and `downloadSource`.","parameters":[{"$ref":"#/components/parameters/FileIdPath"}],"responses":{"200":{"description":"File with hydrated sources","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageFile"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"path-parameters":{"fileId":"vg_file_obLD1OX2eJCrEs0071Z4kA"},"response":{"body":{"fileId":"vg_file_obLD1OX2eJCrEs0071Z4kA","type":"VIDEO","scope":"GLOBAL","displayName":"My Campaign Video","description":null,"durationSeconds":12.5,"transcript":null,"thumbnailSource":{"status":"ready","url":"https://image.media.videogen.io/example/thumbnail.jpg?token=abc","width":426,"height":240},"previewSource":{"status":"ready","url":"https://stream.media.videogen.io/example/720p.mp4?token=abc","width":1280,"height":720},"downloadSource":{"status":"ready","url":"https://stream.media.videogen.io/example/1080p.mp4?token=abc&download=My%20Campaign%20Video.mp4","width":1920,"height":1080},"hlsSource":{"status":"ready","url":"https://stream.media.videogen.io/example.m3u8?token=abc"},"isPublicPreviewEnabled":false}}}]}},"/v1/files/{fileId}/archive":{"post":{"tags":["Files"],"operationId":"archiveFile","x-fern-audiences":["rest"],"summary":"Archive file","description":"Archive a file by setting its archived timestamp. Archived files are excluded from list results. Returns the updated file object.","parameters":[{"$ref":"#/components/parameters/FileIdPath"}],"responses":{"200":{"description":"Archived file","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageFile"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"path-parameters":{"fileId":"fileId"},"response":{"body":{"fileId":"vg_file_123abc456def","type":"IMAGE","scope":"GLOBAL","displayName":"Sunset Over Mountains","description":"High-resolution image of a sunset over the Rocky Mountains.","durationSeconds":null,"transcript":null,"thumbnailSource":{"status":"ready","url":"https://cdn.videogen.io/thumbnails/vg_file_123abc456def.jpg?token=abc123","expiresAt":1712000000,"width":320,"height":180,"fileBytes":45000},"previewSource":{"status":"ready","url":"https://cdn.videogen.io/previews/vg_file_123abc456def_720p.jpg?token=def456","expiresAt":1712000000,"width":1280,"height":720,"fileBytes":350000},"downloadSource":{"status":"ready","url":"https://cdn.videogen.io/downloads/vg_file_123abc456def.png?token=ghi789","expiresAt":1712000000,"width":3840,"height":2160,"fileBytes":4500000},"hlsSource":{"status":"skipped","url":null,"expiresAt":null,"width":null,"height":null,"fileBytes":null},"isPublicPreviewEnabled":true,"publicHlsUrl":null,"publicPlaybackId":null,"sourceToolType":"GENERATE_IMAGE","sourceToolExecutionId":"vg_tool_789xyz123abc"}}}]}},"/v1/files/{fileId}/enable-public-preview":{"post":{"tags":["Files"],"operationId":"enablePublicPreview","x-fern-audiences":["rest"],"summary":"Enable public preview","description":"Enable public preview for a file. Works for any file type. Copies the file to a permanent public URL (`staticPublicPreviewSource`) and, for video and audio, registers a public embed playback id (`publicPlaybackId`) for use with `@videogen/player`. If streaming playback is still processing, the endpoint polls briefly and background processing finishes creating the embed playback id. Returns the updated file.","parameters":[{"$ref":"#/components/parameters/FileIdPath"}],"responses":{"200":{"description":"File with public preview enabled","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageFile"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"path-parameters":{"fileId":"vg_file_obLD1OX2eJCrEs0071Z4kA"},"response":{"body":{"fileId":"vg_file_obLD1OX2eJCrEs0071Z4kA","type":"VIDEO","scope":"GLOBAL","displayName":"My Campaign Video","durationSeconds":12.5,"isPublicPreviewEnabled":true,"staticPublicPreviewSource":{"status":"ready","url":"https://public-previews.videogen.io/vg_file_obLD1OX2eJCrEs0071Z4kA.mp4","expiresAt":null,"width":1280,"height":720,"fileBytes":2500000},"publicHlsUrl":"https://stream.media.videogen.io/abc123def.m3u8","publicPlaybackId":"vg_play_abc123def"}}}]}},"/v1/files/{fileId}/disable-public-preview":{"post":{"tags":["Files"],"operationId":"disablePublicPreview","x-fern-audiences":["rest"],"summary":"Disable public preview","description":"Disable public preview for a file. Removes the permanent public URL copy and revokes unauthenticated embed streaming access. Authenticated signed URLs remain functional. Returns the updated file.","parameters":[{"$ref":"#/components/parameters/FileIdPath"}],"responses":{"200":{"description":"File with public preview disabled","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageFile"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"path-parameters":{"fileId":"vg_file_obLD1OX2eJCrEs0071Z4kA"},"response":{"body":{"fileId":"vg_file_obLD1OX2eJCrEs0071Z4kA","type":"VIDEO","scope":"GLOBAL","displayName":"My Campaign Video","durationSeconds":12.5,"isPublicPreviewEnabled":false}}}]}},"/v1/entities":{"get":{"tags":["Entities"],"operationId":"listEntities","x-fern-audiences":["internal"],"summary":"List entities","description":"List the actors and visual styles available to your team, most recently updated first. Cursor-paginated; see the [Pagination](/pagination) guide.","parameters":[{"$ref":"#/components/parameters/EntityTypeQuery"},{"$ref":"#/components/parameters/PaginationLimit"},{"$ref":"#/components/parameters/PaginationCursor"}],"responses":{"200":{"description":"Entity list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListEntitiesResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"response":{"body":{"entities":[{"entityId":"vg_enti_a1b2c3d4e5f6","entityType":"ACTOR","name":"Maya the host","description":"Friendly on-camera host for product explainers.","actorConfig":{"voiceDisplayName":"Matilda","hasVoice":true,"hasAvatarPresenter":true},"references":[{"fileId":"vg_file_obLD1OX2eJCrEs0071Z4kA","description":"Front-facing headshot, neutral background.","isDefault":true}],"createdAt":"2026-05-23T12:00:00Z","updatedAt":"2026-05-23T12:04:30Z"},{"entityId":"vg_enti_f6e5d4c3b2a1","entityType":"VISUAL_STYLE","name":"Pastel watercolor","description":"Soft pastel watercolor look for lifestyle clips.","actorConfig":null,"references":[{"fileId":"vg_file_jzosm31OGi-bPE1eb3qLnA","description":"","isDefault":true}],"createdAt":"2026-05-20T09:15:00Z","updatedAt":"2026-05-20T09:15:00Z"}],"hasMore":false,"nextCursor":null}}}]},"post":{"tags":["Entities"],"operationId":"createEntity","x-fern-audiences":["internal"],"summary":"Create entity","description":"Create a new actor or visual style. Attach reference images with `POST /v1/entities/{entityId}/references`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateEntityRequest"}}}},"responses":{"200":{"description":"The created entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Entity"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"request":{"entityType":"VISUAL_STYLE","name":"Pastel watercolor","description":"Soft pastel watercolor look for lifestyle clips."},"response":{"body":{"entityId":"vg_enti_f6e5d4c3b2a1","entityType":"VISUAL_STYLE","name":"Pastel watercolor","description":"Soft pastel watercolor look for lifestyle clips.","actorConfig":null,"references":[],"createdAt":"2026-05-20T09:15:00Z","updatedAt":"2026-05-20T09:15:00Z"}}}]}},"/v1/entities/{entityId}":{"get":{"tags":["Entities"],"operationId":"getEntity","x-fern-audiences":["internal"],"summary":"Get entity","description":"Retrieve a single entity by its id, including its reference images.","parameters":[{"$ref":"#/components/parameters/EntityIdPath"}],"responses":{"200":{"description":"Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Entity"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"path-parameters":{"entityId":"vg_enti_a1b2c3d4e5f6"},"response":{"body":{"entityId":"vg_enti_a1b2c3d4e5f6","entityType":"ACTOR","name":"Maya the host","description":"Friendly on-camera host for product explainers.","actorConfig":{"voiceDisplayName":"Matilda","hasVoice":true,"hasAvatarPresenter":true},"references":[{"fileId":"vg_file_obLD1OX2eJCrEs0071Z4kA","description":"Front-facing headshot, neutral background.","isDefault":true}],"createdAt":"2026-05-23T12:00:00Z","updatedAt":"2026-05-23T12:04:30Z"}}}]}},"/v1/entities/{entityId}/update":{"post":{"tags":["Entities"],"operationId":"updateEntity","x-fern-audiences":["internal"],"summary":"Update entity","description":"Update an entity's name or description. Provide at least one field.","parameters":[{"$ref":"#/components/parameters/EntityIdPath"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateEntityRequest"}}}},"responses":{"200":{"description":"The updated entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Entity"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"path-parameters":{"entityId":"vg_enti_a1b2c3d4e5f6"},"request":{"name":"Maya the presenter","description":"Friendly on-camera host for product explainers and demos."},"response":{"body":{"entityId":"vg_enti_a1b2c3d4e5f6","entityType":"ACTOR","name":"Maya the presenter","description":"Friendly on-camera host for product explainers and demos.","actorConfig":{"voiceDisplayName":"Matilda","hasVoice":true,"hasAvatarPresenter":true},"references":[{"fileId":"vg_file_obLD1OX2eJCrEs0071Z4kA","description":"Front-facing headshot, neutral background.","isDefault":true}],"createdAt":"2026-05-23T12:00:00Z","updatedAt":"2026-05-23T13:10:00Z"}}}]}},"/v1/entities/{entityId}/archive":{"post":{"tags":["Entities"],"operationId":"archiveEntity","x-fern-audiences":["internal"],"summary":"Archive entity","description":"Archive an entity. Archived entities no longer appear in `GET /v1/entities` and can't be attached to new workflows.","parameters":[{"$ref":"#/components/parameters/EntityIdPath"}],"responses":{"200":{"description":"Archive acknowledged","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntityArchiveResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"path-parameters":{"entityId":"vg_enti_a1b2c3d4e5f6"},"response":{"body":{"entityId":"vg_enti_a1b2c3d4e5f6","archived":true}}}]}},"/v1/entities/{entityId}/references":{"post":{"tags":["Entities"],"operationId":"addEntityReference","x-fern-audiences":["internal"],"summary":"Add entity reference","description":"Attach an image file as a reference for the entity. Upload the image first via `POST /v1/files/upload`. Returns the updated entity.","parameters":[{"$ref":"#/components/parameters/EntityIdPath"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddEntityReferenceRequest"}}}},"responses":{"200":{"description":"The updated entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Entity"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"path-parameters":{"entityId":"vg_enti_a1b2c3d4e5f6"},"request":{"fileId":"vg_file_mot8bV5POiscDeHyo7TF1g","description":"Side profile, studio lighting.","isDefault":false},"response":{"body":{"entityId":"vg_enti_a1b2c3d4e5f6","entityType":"ACTOR","name":"Maya the host","description":"Friendly on-camera host for product explainers.","actorConfig":{"voiceDisplayName":"Matilda","hasVoice":true,"hasAvatarPresenter":true},"references":[{"fileId":"vg_file_obLD1OX2eJCrEs0071Z4kA","description":"Front-facing headshot, neutral background.","isDefault":true},{"fileId":"vg_file_mot8bV5POiscDeHyo7TF1g","description":"Side profile, studio lighting.","isDefault":false}],"createdAt":"2026-05-23T12:00:00Z","updatedAt":"2026-05-23T14:22:00Z"}}}]}},"/v1/entities/{entityId}/references/remove":{"post":{"tags":["Entities"],"operationId":"removeEntityReference","x-fern-audiences":["internal"],"summary":"Remove entity reference","description":"Detach a reference image from the entity. Returns the updated entity.","parameters":[{"$ref":"#/components/parameters/EntityIdPath"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveEntityReferenceRequest"}}}},"responses":{"200":{"description":"The updated entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Entity"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"path-parameters":{"entityId":"vg_enti_a1b2c3d4e5f6"},"request":{"fileId":"vg_file_mot8bV5POiscDeHyo7TF1g"},"response":{"body":{"entityId":"vg_enti_a1b2c3d4e5f6","entityType":"ACTOR","name":"Maya the host","description":"Friendly on-camera host for product explainers.","actorConfig":{"voiceDisplayName":"Matilda","hasVoice":true,"hasAvatarPresenter":true},"references":[{"fileId":"vg_file_obLD1OX2eJCrEs0071Z4kA","description":"Front-facing headshot, neutral background.","isDefault":true}],"createdAt":"2026-05-23T12:00:00Z","updatedAt":"2026-05-23T14:25:00Z"}}}]}},"/v1/text/generate":{"post":{"tags":["Text"],"operationId":"generateText","x-fern-audiences":["rest"],"summary":"Generate text","description":"Generate text from a prompt using a general-purpose language model. Choose a quality tier with `quality` (`LOW`, `STANDARD`, `HIGH`, or `MAX`). Synchronous: the response includes the generated text. Useful for drafting scripts, titles, descriptions, and other short copy before generating a video.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateTextRequest"}}}},"responses":{"200":{"description":"Generated text.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateTextResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"request":{"prompt":"Write a concise title for a video about staying hydrated.","quality":"STANDARD","maxOutputTokens":32},"response":{"body":{"text":"Stay Hydrated, Stay Energized"}}}]}},"/v1/resources/avatar-presenters":{"get":{"tags":["Resources"],"operationId":"listAvatarPresenters","x-fern-audiences":["rest"],"summary":"List avatar presenters","description":"List available avatar presenters. Pass an `avatarPresenterId` from the response to the avatar video endpoint or to a script/slideshow workflow. Pass a reference `voiceId` to return presenters sorted by best match for that voice. Cursor-paginated; see the [Pagination](/pagination) guide.","parameters":[{"$ref":"#/components/parameters/PaginationLimit"},{"$ref":"#/components/parameters/PaginationCursor"},{"$ref":"#/components/parameters/AvatarPresenterReferenceVoiceIdQuery"}],"responses":{"200":{"description":"List of avatar presenters. Pass an `avatarPresenterId` to `POST /v1/tools/generate-avatar`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AvatarPresenterListResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"response":{"body":{"avatarPresenters":[{"avatarPresenterId":"vg_pres_a1ua8slxzfi","displayableGender":"FEMALE","imageUrl":"https://clips-presenters.d-id.com/mary/26F6sVe7Yg/ujy8kGzgSJ/image.png","thumbnailUrl":"https://clips-presenters.d-id.com/mary/26F6sVe7Yg/ujy8kGzgSJ/thumbnail.png","previewVideoUrl":"https://clips-presenters.d-id.com/mary/26F6sVe7Yg/ujy8kGzgSJ/preview.mp4"}],"hasMore":false,"nextCursor":null}}}]}},"/v1/resources/tts-voices":{"get":{"tags":["Resources"],"operationId":"listTtsVoices","x-fern-audiences":["rest"],"summary":"List TTS voices","description":"List available text-to-speech voices. Pass a `voiceId` from the response to the text-to-speech endpoint. Cursor-paginated; see the [Pagination](/pagination) guide.","parameters":[{"$ref":"#/components/parameters/PaginationLimit"},{"$ref":"#/components/parameters/PaginationCursor"},{"$ref":"#/components/parameters/IncludeDeprecatedVoicesQuery"}],"responses":{"200":{"description":"List of TTS voices. Pass a `voiceId` to `POST /v1/tools/text-to-speech`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TtsVoiceListResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"response":{"body":{"ttsVoices":[{"voiceId":"vg_voic_7t1wdka3tmk","languageCode":"en-US","displayName":"Matilda","displayGender":"FEMALE","accent":"american","description":"A professional woman with a pleasing alto pitch.","supportsDirectToolExecution":false,"supportsAllLanguages":true,"isDeprecated":false}],"hasMore":false,"nextCursor":null}}}]}},"/v1/resources/languages":{"get":{"tags":["Resources"],"operationId":"listLanguages","x-fern-audiences":["rest"],"summary":"List supported languages","description":"List the languages a project can be translated into. Pass a `languageCode` from the response to the `TRANSLATE_PROJECT` remix action. Returns the full catalogue in a single response (not paginated).","responses":{"200":{"description":"List of supported languages. Pass a `languageCode` to a `TRANSLATE_PROJECT` remix action.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LanguageListResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/v1/webhooks/endpoints":{"get":{"tags":["Webhooks"],"operationId":"listWebhookEndpoints","x-fern-audiences":["rest"],"summary":"List webhooks","description":"List configured webhook endpoints for your account. Cursor-paginated; see the [Pagination](/pagination) guide.","parameters":[{"$ref":"#/components/parameters/PaginationLimit"},{"$ref":"#/components/parameters/PaginationCursor"}],"responses":{"200":{"description":"Configured endpoints","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookEndpointListResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"response":{"body":{"endpoints":[{"endpointId":"ep_28KVX7vT9mQ2sL4nR6pB1cD0fG","url":"https://webhooks.example.com/videogen","events":["tool_execution.succeeded","tool_execution.failed","tool_execution.cancelled"],"description":"Primary webhook endpoint for tool execution notifications","createdAt":1705308600,"signingSecret":null,"signingSecretLast4":"9f3d"}],"hasMore":false,"nextCursor":null}}}]},"post":{"tags":["Webhooks"],"operationId":"createWebhookEndpoint","x-fern-audiences":["rest"],"summary":"Create webhook","description":"Register a new webhook endpoint to receive `tool_execution.*`, `workflow_run.*`, and `file.*` events. The signing secret is only returned in this response. Store it securely.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateWebhookEndpointRequest"}}}},"responses":{"201":{"description":"Created; `signingSecret` is only returned in this response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookEndpoint"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"request":{"url":"https://webhooks.myapp.com/videogen","events":["tool_execution.succeeded","tool_execution.failed"]},"response":{"body":{"endpointId":"ep_31QmZ8rT2vK5nL7sB4pR9cD1fH","url":"https://webhooks.myapp.com/videogen","events":["tool_execution.succeeded","tool_execution.failed"],"description":"Webhook endpoint for receiving VideoGen tool execution results","createdAt":1705308600,"signingSecret":"a1b2c3d4e5f67890abcdef1234567890","signingSecretLast4":"7890"}}}]}},"/v1/webhooks/endpoints/{endpointId}":{"delete":{"tags":["Webhooks"],"operationId":"deleteWebhookEndpoint","x-fern-audiences":["rest"],"summary":"Delete webhook","description":"Remove a webhook endpoint. It will stop receiving events immediately.","parameters":[{"$ref":"#/components/parameters/WebhookEndpointIdPath"}],"responses":{"204":{"description":"Removed"},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"path-parameters":{"endpointId":"ep_28KVX7vT9mQ2sL4nR6pB1cD0fG"}}]}},"/v1/me":{"get":{"tags":["Account"],"operationId":"getMe","x-fern-audiences":["rest"],"summary":"Get current account","description":"Return the account and team behind the API key making the request. Takes no parameters. Call it as a connection test to confirm a key is valid and to discover the `teamId` and account `email` a key belongs to.","responses":{"200":{"description":"The account and team for the authenticated API key.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MeResponse"}}}},"default":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"x-fern-examples":[{"response":{"body":{"apiKeyId":"7c9e6a2b-1d3f-4a58-9b0c-2e4f6a8c1d02","apiKeyNickname":"Production key","email":"developer@example.com","displayName":"Ada Lovelace","teamId":"1f0a2b3c-4d5e-6789-ab12-cdef34567890"}}}]}}},"webhooks":{"tool_execution.succeeded":{"post":{"tags":["Webhook events"],"operationId":"toolExecutionSucceeded","x-fern-audiences":["webhook-events"],"summary":"tool_execution.succeeded","description":"Delivered when a tool execution completes successfully.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolExecutionWebhookPayload"}}}},"responses":{"200":{"description":"Acknowledge receipt"}}}},"tool_execution.failed":{"post":{"tags":["Webhook events"],"operationId":"toolExecutionFailed","x-fern-audiences":["webhook-events"],"summary":"tool_execution.failed","description":"Delivered when a tool execution fails.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolExecutionWebhookPayload"}}}},"responses":{"200":{"description":"Acknowledge receipt"}}}},"tool_execution.cancelled":{"post":{"tags":["Webhook events"],"operationId":"toolExecutionCancelled","x-fern-audiences":["webhook-events"],"summary":"tool_execution.cancelled","description":"Delivered when a tool execution is cancelled.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToolExecutionWebhookPayload"}}}},"responses":{"200":{"description":"Acknowledge receipt"}}}},"workflow_run.succeeded":{"post":{"tags":["Webhook events"],"operationId":"workflowRunSucceeded","x-fern-audiences":["webhook-events"],"summary":"workflow_run.succeeded","description":"Delivered when a workflow run completes successfully.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowRunWebhookPayload"}}}},"responses":{"200":{"description":"Acknowledge receipt"}}}},"workflow_run.failed":{"post":{"tags":["Webhook events"],"operationId":"workflowRunFailed","x-fern-audiences":["webhook-events"],"summary":"workflow_run.failed","description":"Delivered when a workflow run fails.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowRunWebhookPayload"}}}},"responses":{"200":{"description":"Acknowledge receipt"}}}},"workflow_run.cancelled":{"post":{"tags":["Webhook events"],"operationId":"workflowRunCancelled","x-fern-audiences":["webhook-events"],"summary":"workflow_run.cancelled","description":"Delivered when a workflow run is cancelled.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowRunWebhookPayload"}}}},"responses":{"200":{"description":"Acknowledge receipt"}}}},"file.upload.completed":{"post":{"tags":["Webhook events"],"operationId":"fileUploadCompleted","x-fern-audiences":["webhook-events"],"summary":"file.upload.completed","description":"Delivered when a file upload finishes and the file is stored. Only fired for files uploaded via the API.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileUploadWebhookPayload"}}}},"responses":{"200":{"description":"Acknowledge receipt"}}}},"file.upload.failed":{"post":{"tags":["Webhook events"],"operationId":"fileUploadFailed","x-fern-audiences":["webhook-events"],"summary":"file.upload.failed","description":"Delivered when a file upload fails. Only fired for files uploaded via the API.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileUploadWebhookPayload"}}}},"responses":{"200":{"description":"Acknowledge receipt"}}}},"file.playback_ready":{"post":{"tags":["Webhook events"],"operationId":"filePlaybackReady","x-fern-audiences":["webhook-events"],"summary":"file.playback_ready","description":"Delivered when a file is ready for streaming playback. Only fired for files uploaded via the API.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileUploadWebhookPayload"}}}},"responses":{"200":{"description":"Acknowledge receipt"}}}},"file.download_ready":{"post":{"tags":["Webhook events"],"operationId":"fileDownloadReady","x-fern-audiences":["webhook-events"],"summary":"file.download_ready","description":"Delivered when a file is ready for download. Only fired for files uploaded via the API.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileUploadWebhookPayload"}}}},"responses":{"200":{"description":"Acknowledge receipt"}}}},"file.analysis_completed":{"post":{"tags":["Webhook events"],"operationId":"fileAnalysisCompleted","x-fern-audiences":["webhook-events"],"summary":"file.analysis_completed","description":"Delivered when file analysis (description, transcript, embedding) completes. Only fired for files uploaded via the API.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileUploadWebhookPayload"}}}},"responses":{"200":{"description":"Acknowledge receipt"}}}},"file.analysis_failed":{"post":{"tags":["Webhook events"],"operationId":"fileAnalysisFailed","x-fern-audiences":["webhook-events"],"summary":"file.analysis_failed","description":"Delivered when file analysis fails. Only fired for files uploaded via the API.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileUploadWebhookPayload"}}}},"responses":{"200":{"description":"Acknowledge receipt"}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"opaque","description":"API key from [app.videogen.io/developers](https://app.videogen.io/developers). The full key is only shown once when you create it."}},"parameters":{"PaginationLimit":{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":200,"default":50},"description":"Maximum number of items to return in the page. Defaults to 50; capped at 200. See [Pagination](/pagination)."},"PaginationCursor":{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"Opaque pagination cursor returned as `nextCursor` by the previous page. Omit on the first request. Cursors are tied to the endpoint that produced them and must be passed unmodified. See [Pagination](/pagination)."},"SelfOnlyQuery":{"name":"selfOnly","in":"query","required":false,"schema":{"type":"boolean","default":false},"description":"When true, returns only items created by the API key's owner. When false (default), returns all items accessible to the team."},"IncludeUiProjectsQuery":{"name":"includeUiProjects","in":"query","required":false,"schema":{"type":"boolean","default":false},"description":"When true, includes dashboard-created projects in addition to API-created projects. When false (default), returns only API-created projects."},"IncludeDeprecatedVoicesQuery":{"name":"includeDeprecatedVoices","in":"query","required":false,"schema":{"type":"boolean","default":false},"description":"When true, includes voices that are deprecated but still callable. Defaults to false."},"AvatarPresenterReferenceVoiceIdQuery":{"name":"voiceId","in":"query","required":false,"schema":{"type":"string"},"description":"Optional reference voice id from `GET /v1/resources/tts-voices` (e.g. `vg_voic_...`). When provided, avatar presenters are returned sorted by best match for that voice (best first). Omit to return presenters in the default catalogue order."},"ProjectIdPath":{"name":"projectId","in":"path","required":true,"schema":{"type":"string"},"description":"The project id (e.g. `vg_proj_...`)."},"ExportIdPath":{"name":"exportId","in":"path","required":true,"schema":{"type":"string"},"description":"The export id (e.g. `vg_expo_...`) returned by `POST /v1/projects/{projectId}/export`."},"FileIdPath":{"name":"fileId","in":"path","required":true,"schema":{"type":"string"},"description":"The file id (e.g. `vg_file_...`)."},"EntityIdPath":{"name":"entityId","in":"path","required":true,"schema":{"type":"string"},"description":"The entity id (e.g. `vg_enti_...`)."},"EntityTypeQuery":{"name":"entityType","in":"query","required":false,"schema":{"type":"string","enum":["ACTOR","PRODUCT","VISUAL_STYLE"]},"description":"When provided, returns only entities of this type. Omit to return all entities."},"WorkflowRunIdPath":{"name":"workflowRunId","in":"path","required":true,"schema":{"type":"string"},"description":"The workflow run id returned when the workflow was started."},"ToolExecutionIdPath":{"name":"toolExecutionId","in":"path","required":true,"schema":{"type":"string"},"description":"The tool execution id returned when the tool was started."},"WebhookEndpointIdPath":{"name":"endpointId","in":"path","required":true,"schema":{"type":"string"},"description":"The webhook endpoint id (e.g. `ep_...`) returned by `POST /v1/webhooks/endpoints`."}},"schemas":{"StorageFile":{"type":"object","description":"Metadata for a generated file. Obtain ids from tool results or `GET /v1/files`.","required":["fileId","scope"],"properties":{"fileId":{"type":"string","description":"File id (e.g. `vg_file_...`)."},"type":{"type":["string","null"],"enum":["IMAGE","VIDEO","AUDIO","PDF","SLIDESHOW",null],"description":"File type. Null when the file is still being processed and the type has not yet been determined."},"scope":{"type":"string","enum":["GLOBAL","PROJECT","EXPORT","TEMPORARY","ENTITY"],"description":"File scope.\n\n- `GLOBAL`: user-uploaded or standalone generated files that persist indefinitely.\n- `PROJECT`: project-specific files (e.g. text-to-speech clips in a generated project).\n- `EXPORT`: project exports.\n- `TEMPORARY`: short-lived files guaranteed to be available for 24 hours, after which they may be archived at any time. Not analyzed (no description, transcript, or embedding).\n- `ENTITY`: files attached to a reusable entity (e.g. a voice sample for an actor), shared across your team.\n"},"displayName":{"type":"string","description":"Display name for the file."},"description":{"type":["string","null"]},"durationSeconds":{"type":["number","null"],"description":"Duration in seconds for video and audio files. Null for images."},"transcript":{"type":["string","null"],"description":"Transcript text for video and audio files, when available. Null for images or when no transcript has been generated."},"thumbnailSource":{"description":"Thumbnail image source. Populated after hydration.","anyOf":[{"$ref":"#/components/schemas/FileSource"},{"type":"null"}]},"previewSource":{"description":"Preview rendition source (720p for video, resized for images). Populated after hydration.","anyOf":[{"$ref":"#/components/schemas/FileSource"},{"type":"null"}]},"downloadSource":{"description":"Highest-quality downloadable rendition. Populated after hydration.","anyOf":[{"$ref":"#/components/schemas/FileSource"},{"type":"null"}]},"hlsSource":{"description":"Private HLS streaming source. Populated for video and audio files once streaming renditions are ready. Uses a signed token; treat like other signed sources.","anyOf":[{"$ref":"#/components/schemas/FileSource"},{"type":"null"}]},"isPublicPreviewEnabled":{"type":"boolean","description":"Whether public preview is enabled for this file. When true, `staticPublicPreviewSource` is populated for all file types. For video and audio, `publicHlsUrl` and `publicPlaybackId` are also populated once embed streaming is ready."},"staticPublicPreviewSource":{"description":"Permanent public URL for the file's highest-quality rendition. Populated when `isPublicPreviewEnabled` is true. Does not expire (`expiresAt` is null). Use for direct links to images, downloads, or any file type. For embedded video or audio players, prefer `publicPlaybackId`.","anyOf":[{"$ref":"#/components/schemas/FileSource"},{"type":"null"}]},"publicHlsUrl":{"type":["string","null"],"description":"Public HLS streaming URL for video and audio. Only present when `isPublicPreviewEnabled` is true and embed streaming is ready. Prefer `publicPlaybackId` with `@videogen/player` for embeds."},"publicPlaybackId":{"type":["string","null"],"description":"Encoded public playback id (e.g. `vg_play_...`) for video and audio embeds. Pass this to `@videogen/player` or `@videogen/player-react`. Only present when `isPublicPreviewEnabled` is true and embed streaming is ready. For a permanent direct file URL (any type), use `staticPublicPreviewSource` instead."},"sourceToolType":{"type":"string","description":"Tool type that generated this file (e.g. `GENERATE_IMAGE`, `TEXT_TO_SPEECH`). Only present when the file was created by a tool execution."},"sourceToolExecutionId":{"type":"string","description":"Execution id of the tool call that generated this file (e.g. `vg_tool_...`). Only present when the file was created by a tool execution."},"fileAnalysisMetadata":{"description":"Background analysis state for the file (used to populate `description`, `transcript`, `durationSeconds`, and the search embedding). Omitted when the file was returned via a path that does not check analysis progress (e.g. tool-result inline files and webhook payloads).","$ref":"#/components/schemas/FileAnalysisMetadata"}}},"FileAnalysisMetadata":{"type":"object","description":"Background analysis state for a file. Background analysis populates `description`, `transcript`, `durationSeconds`, and the search embedding after a file is uploaded or generated; this object lets you render a progress indicator while it runs (and skip rendering once it's done).\n","required":["analysisLoadingState","analysisProgressPercentage"],"properties":{"analysisLoadingState":{"type":"string","enum":["UNATTEMPTED","LOADING","FULFILLED","REJECTED"],"description":"Coarse-grained analysis state.\n\n- `UNATTEMPTED`: analysis has not started yet.\n- `LOADING`: analysis is in progress.\n- `FULFILLED`: analysis completed successfully. `description`, `transcript`, and `durationSeconds` are now populated where applicable for the file's type.\n- `REJECTED`: analysis failed permanently and will not be retried.\n"},"analysisProgressPercentage":{"type":"number","format":"double","description":"Progress in `[0, 100]`. Always `100` when `analysisLoadingState` is `FULFILLED`. Otherwise the most recent in-flight progress reported by the analysis task (or `0` if no progress has been reported yet)."},"analysisAttemptIndex":{"type":"integer","description":"Zero-based index of the current analysis task attempt. Only present while analysis is still loading (`UNATTEMPTED` or `LOADING`); omitted once analysis reaches a terminal state."}}},"FileSource":{"type":"object","description":"A rendition source for a file (e.g. thumbnail, preview, download). Contains a signed URL and metadata.","required":["status"],"properties":{"status":{"type":"string","enum":["pending","ready","failed","skipped"],"description":"`pending`: asset is still processing or has not been hydrated yet. `ready`: signed URL is available. `failed`: rendition generation failed. `skipped`: rendition does not apply to this file type (e.g. thumbnail for audio)."},"url":{"type":["string","null"],"description":"Signed URL. Present when status is `ready` and file has been recently hydrated. If missing, call the hydrate endpoint."},"expiresAt":{"type":["number","null"],"description":"Seconds since epoch (Unix timestamp) when the signed URL expires."},"width":{"type":["integer","null"],"description":"Rendition width in pixels, when known."},"height":{"type":["integer","null"],"description":"Rendition height in pixels, when known."},"fileBytes":{"type":["integer","null"],"description":"File size in bytes, when known."}}},"SearchFilesRequest":{"type":"object","required":["query"],"properties":{"query":{"type":"string","minLength":1,"description":"Natural-language search query. The text is embedded and compared against file description vectors using cosine similarity."},"numResults":{"type":"integer","minimum":1,"maximum":100,"default":10,"description":"Number of results to return (1-100). Defaults to 10."},"selfOnly":{"type":"boolean","default":false,"description":"When true, only files created by the calling API key's user are returned. When false (default), all files accessible to the team are included."}}},"SearchFilesResponse":{"type":"object","required":["results"],"properties":{"results":{"type":"array","items":{"$ref":"#/components/schemas/SearchFilesResult"}}}},"SearchFilesResult":{"type":"object","required":["similarity","file"],"properties":{"similarity":{"type":"number","format":"float","minimum":0,"maximum":1,"example":0.82,"description":"Cosine similarity between the query embedding and the file description embedding. Ranges from 0 (no match) to 1 (identical). Values above 0.7 typically indicate strong relevance."},"file":{"$ref":"#/components/schemas/StorageFile"}}},"CreateFileUploadRequest":{"type":"object","required":["displayName"],"properties":{"type":{"type":"string","enum":["IMAGE","VIDEO","AUDIO","PDF","SLIDESHOW"],"description":"The type of file to upload. Optional; when omitted, the type is inferred after upload processing completes."},"displayName":{"type":"string","description":"Display name for the uploaded file."},"isTemporary":{"type":"boolean","default":false,"description":"When true, the file is temporary. Temporary files are guaranteed to be available for 24 hours, after which they may be archived at any time. Temporary files are not analyzed (no description, transcript, or embedding will be generated), so they will not appear in search results. Defaults to false."}}},"FileUploadResponse":{"type":"object","required":["fileId","uploadUrl"],"properties":{"fileId":{"type":"string","description":"The file id to use in subsequent API calls (e.g. `vg_file_...`)."},"uploadUrl":{"type":"string","description":"Pre-signed URL. PUT the raw file bytes to this URL to complete the upload."}}},"GetFilesResponse":{"type":"object","required":["files","hasMore","nextCursor"],"properties":{"files":{"type":"array","items":{"$ref":"#/components/schemas/StorageFile"}},"hasMore":{"type":"boolean","description":"When true, there are more files available. Pass `nextCursor` as the `cursor` query param to fetch the next page."},"nextCursor":{"type":["string","null"],"description":"Opaque cursor to fetch the next page. `null` when `hasMore` is false."}}},"EntityReference":{"type":"object","description":"A file attached to an entity as a reference image.","required":["fileId","description","isDefault"],"properties":{"fileId":{"type":"string","description":"The reference image file id (e.g. `vg_file_...`). Hydrate it via `GET /v1/files/{fileId}` to fetch a viewable URL."},"description":{"type":"string","description":"Optional description of the reference. Empty string when not set."},"isDefault":{"type":"boolean","description":"When true, this is the entity's primary reference (used for its thumbnail)."}}},"EntityActorConfig":{"type":"object","description":"Read-only voice and presenter summary for an ACTOR entity. Always null for VISUAL_STYLE entities.","required":["hasVoice","hasAvatarPresenter"],"properties":{"voiceDisplayName":{"type":["string","null"],"description":"Display name of the actor's voice when one is configured. Null otherwise."},"hasVoice":{"type":"boolean","description":"True when the actor has a configured voice."},"hasAvatarPresenter":{"type":"boolean","description":"True when the actor has a configured avatar presenter."}}},"Entity":{"type":"object","description":"A reusable actor or visual style. Attach its reference images to workflows for consistent characters and looks.","required":["entityId","entityType","name","description","references","createdAt","updatedAt"],"properties":{"entityId":{"type":"string","description":"The entity id (e.g. `vg_enti_...`)."},"entityType":{"type":"string","enum":["ACTOR","PRODUCT","VISUAL_STYLE"],"description":"ACTOR features a consistent character; PRODUCT features a consistent product or object; VISUAL_STYLE guides the look of generated images."},"name":{"type":"string","description":"Display name."},"description":{"type":"string","description":"Optional description. Empty string when not set."},"actorConfig":{"oneOf":[{"$ref":"#/components/schemas/EntityActorConfig"},{"type":"null"}],"description":"Voice and presenter summary for ACTOR entities. Null for VISUAL_STYLE entities."},"references":{"type":"array","items":{"$ref":"#/components/schemas/EntityReference"},"description":"Reference images attached to the entity."},"createdAt":{"type":"string","format":"date-time","description":"When the entity was created (ISO 8601)."},"updatedAt":{"type":"string","format":"date-time","description":"When the entity was last updated (ISO 8601)."}}},"ListEntitiesResponse":{"type":"object","required":["entities","hasMore","nextCursor"],"properties":{"entities":{"type":"array","items":{"$ref":"#/components/schemas/Entity"}},"hasMore":{"type":"boolean","description":"When true, there are more entities available. Pass `nextCursor` as the `cursor` query param to fetch the next page."},"nextCursor":{"type":["string","null"],"description":"Opaque cursor to fetch the next page. `null` when `hasMore` is false."}}},"CreateEntityRequest":{"type":"object","required":["entityType","name"],"properties":{"entityType":{"type":"string","enum":["ACTOR","PRODUCT","VISUAL_STYLE"],"description":"ACTOR features a consistent character; PRODUCT features a consistent product or object; VISUAL_STYLE guides the look of generated images."},"name":{"type":"string","minLength":1,"description":"Display name."},"description":{"type":"string","description":"Optional description."}}},"UpdateEntityRequest":{"type":"object","description":"At least one field must be provided.","properties":{"name":{"type":["string","null"],"description":"New display name. Omit to leave unchanged."},"description":{"type":["string","null"],"description":"New description. Omit to leave unchanged."}}},"EntityArchiveResponse":{"type":"object","required":["entityId","archived"],"properties":{"entityId":{"type":"string","description":"The id of the archived entity."},"archived":{"type":"boolean","description":"Always true on success."}}},"AddEntityReferenceRequest":{"type":"object","required":["fileId"],"properties":{"fileId":{"type":"string","description":"The file id (e.g. `vg_file_...`) of an image to attach as a reference."},"description":{"type":"string","description":"Optional description of the reference."},"isDefault":{"type":"boolean","default":false,"description":"When true, make this the entity's primary reference (used for its thumbnail)."}}},"RemoveEntityReferenceRequest":{"type":"object","required":["fileId"],"properties":{"fileId":{"type":"string","description":"The file id (e.g. `vg_file_...`) of the reference to remove."}}},"AvatarPresenter":{"type":"object","description":"An avatar presenter available for video generation.","required":["avatarPresenterId","displayableGender","imageUrl","thumbnailUrl","previewVideoUrl"],"properties":{"avatarPresenterId":{"type":"string","description":"Presenter id (e.g. `vg_pres_...`). Pass as `avatarPresenterId` to `POST /v1/tools/generate-avatar`."},"displayableGender":{"type":"string","enum":["MALE","FEMALE","NEUTRAL"],"description":"Presenter gender."},"imageUrl":{"type":"string","format":"uri","description":"Still image of the presenter."},"thumbnailUrl":{"type":"string","format":"uri","description":"Thumbnail image of the presenter."},"previewVideoUrl":{"type":"string","format":"uri","description":"Short preview clip of the presenter speaking."}}},"AvatarPresenterListResponse":{"type":"object","required":["avatarPresenters","hasMore","nextCursor"],"properties":{"avatarPresenters":{"type":"array","items":{"$ref":"#/components/schemas/AvatarPresenter"}},"hasMore":{"type":"boolean","description":"When true, there are more avatar presenters available. Pass `nextCursor` as the `cursor` query param to fetch the next page."},"nextCursor":{"type":["string","null"],"description":"Opaque cursor to fetch the next page. `null` when `hasMore` is false."}}},"TtsVoice":{"type":"object","description":"A text-to-speech voice.","required":["voiceId","languageCode","displayName","displayGender","supportsDirectToolExecution","supportsAllLanguages","isDeprecated"],"properties":{"voiceId":{"type":"string","description":"Voice id (e.g. `vg_voic_...`). Pass as `voiceId` to `POST /v1/tools/text-to-speech`."},"languageCode":{"type":"string","description":"Locale tag for the voice (e.g. `en-US`, `es-ES`)."},"displayName":{"type":"string","description":"Human-readable voice name."},"displayGender":{"type":"string","enum":["MALE","FEMALE","NEUTRAL"],"description":"Voice gender."},"accent":{"type":["string","null"],"description":"Accent (e.g. `american`, `british`)."},"description":{"type":["string","null"],"description":"Description of the voice."},"supportsDirectToolExecution":{"type":"boolean","description":"When false, this voice cannot be used directly with `POST /v1/tools/text-to-speech`. All voices, regardless of this field, can be used in full video generation workflows such as script-to-video."},"supportsAllLanguages":{"type":"boolean","description":"When true, this voice can synthesize text in any language regardless of its `languageCode`. When false, the voice only supports its listed language."},"isDeprecated":{"type":"boolean","description":"When true, this voice is deprecated and may be removed in a future API version. Prefer non-deprecated voices for new integrations."}}},"MeResponse":{"type":"object","required":["apiKeyId","apiKeyNickname","email","displayName","teamId"],"properties":{"apiKeyId":{"type":"string","description":"The id of the API key used to authenticate this request."},"apiKeyNickname":{"type":"string","description":"The nickname given to the API key when it was created."},"email":{"type":"string","description":"The email address of the account the API key belongs to."},"displayName":{"type":["string","null"],"description":"The display name of the account the API key belongs to. `null` if the account has not set one."},"teamId":{"type":"string","description":"The id of the team the API key belongs to."}}},"TtsVoiceListResponse":{"type":"object","required":["ttsVoices","hasMore","nextCursor"],"properties":{"ttsVoices":{"type":"array","items":{"$ref":"#/components/schemas/TtsVoice"}},"hasMore":{"type":"boolean","description":"When true, there are more voices available. Pass `nextCursor` as the `cursor` query param to fetch the next page."},"nextCursor":{"type":["string","null"],"description":"Opaque cursor to fetch the next page. `null` when `hasMore` is false."}}},"Language":{"type":"object","required":["languageCode","name"],"description":"A language a project can be translated into.","properties":{"languageCode":{"type":"string","description":"The language code to pass to a `TRANSLATE_PROJECT` remix action (e.g. `es`, `fr`, `ja`)."},"name":{"type":"string","description":"Human-readable English name of the language (e.g. `Spanish`)."}}},"LanguageListResponse":{"type":"object","required":["languages"],"properties":{"languages":{"type":"array","items":{"$ref":"#/components/schemas/Language"}}}},"WatermarkMode":{"type":"string","enum":["NONE","VIDEO_GEN","AUTO"],"default":"AUTO","description":"Controls whether the VideoGen watermark is applied to the output. `AUTO` applies the watermark unless you have the Production API add-on. `VIDEO_GEN` always applies it. `NONE` removes the watermark — requires the Production API add-on; returns an error if you don't have it."},"AspectRatio":{"type":"object","required":["width","height"],"description":"Aspect ratio as a width:height pair (e.g. 16 and 9 for 16:9). Not pixel dimensions.","properties":{"width":{"type":"integer","minimum":1},"height":{"type":"integer","minimum":1}}},"GenerateTextRequest":{"type":"object","required":["prompt"],"properties":{"prompt":{"type":"string","example":"Write a 30-second upbeat video script about why the sky is blue.","description":"The instruction or content to generate text from."},"system":{"type":["string","null"],"description":"Optional system instructions that steer the model's role, tone, and constraints."},"quality":{"type":"string","enum":["LOW","STANDARD","HIGH","MAX"],"default":"STANDARD","description":"Generation quality tier. `LOW` is fastest and cheapest; `STANDARD` balances quality and cost; `HIGH` is higher quality; `MAX` is highest quality. Defaults to `STANDARD`."},"temperature":{"type":"number","minimum":0,"maximum":2,"description":"Sampling temperature. Higher values produce more varied output. Defaults to the model's default."},"maxOutputTokens":{"type":"integer","minimum":1,"maximum":2000,"default":512,"description":"Maximum number of tokens to generate. Defaults to 512."}}},"GenerateTextResponse":{"type":"object","required":["text"],"properties":{"text":{"type":"string","description":"The generated text."}}},"GenerateImageRequest":{"type":"object","required":["prompt","quality"],"properties":{"prompt":{"type":"string","example":"A serene Japanese garden with cherry blossoms at golden hour","description":"Text prompt describing the image to generate. When reference images are provided, the prompt describes the desired transformation."},"imageFileIds":{"type":"array","items":{"type":"string"},"maxItems":4,"description":"Optional file ids of reference images (e.g. `[\"vg_file_...\"]`). Upload files first via `POST /v1/files/upload`, then pass the returned ids here. Maximum 4 images. When provided, the model uses these as guidance for generation."},"aspectRatio":{"$ref":"#/components/schemas/AspectRatio","description":"Aspect ratio for the generated image. Defaults to 16:9 when omitted."},"quality":{"type":"string","enum":["LOW","STANDARD","HIGH"],"default":"STANDARD","description":"Image generation quality tier. LOW is fastest; HIGH is slowest and highest quality."},"watermarkMode":{"$ref":"#/components/schemas/WatermarkMode"},"numResults":{"type":"integer","minimum":1,"maximum":100,"default":1,"description":"Number of output results to generate. Defaults to 1."},"isOutputTemporary":{"type":"boolean","default":false,"description":"When true, generated files are temporary. Temporary files are guaranteed to be available for 24 hours, after which they may be archived at any time. Temporary files are not analyzed (no description, transcript, or embedding will be generated), so they will not appear in search results. Defaults to false."}}},"GenerateVideoClipRequest":{"type":"object","required":["quality"],"description":"At least one of `prompt`, `imageFileIds`, `videoFileIds`, or `audioFileIds` must be provided.","properties":{"prompt":{"type":"string","example":"A golden retriever running through a sunlit meadow in slow motion, cinematic","description":"Text prompt describing the video to generate. Optional when reference media is provided. Describe the video in plain language; any reference media you provide is incorporated automatically."},"imageFileIds":{"type":"array","items":{"type":"string"},"maxItems":4,"description":"Optional file ids of reference images (e.g. `[\"vg_file_...\"]`). Upload files first via `POST /v1/files/upload`, then pass the returned ids here. When provided, the images are animated or used as visual guidance for the generated video."},"videoFileIds":{"type":"array","items":{"type":"string"},"maxItems":4,"description":"Optional file ids of reference videos (e.g. `[\"vg_file_...\"]`). Upload files first via `POST /v1/files/upload`, then pass the returned ids here. They are used as motion or style guidance for the generated video."},"audioFileIds":{"type":"array","items":{"type":"string"},"maxItems":4,"description":"Optional file ids of reference audio clips (e.g. `[\"vg_file_...\"]`) used for native lip-sync and soundtrack. Upload files first via `POST /v1/files/upload`, then pass the returned ids here."},"generateAudio":{"type":"boolean","default":false,"description":"When true, the generated video is guaranteed to include audio. When false, audio may still be present. Defaults to false."},"durationSeconds":{"type":["integer","null"],"minimum":1,"maximum":15,"description":"Desired clip length in seconds. A whole number between 1 and 15. Defaults to 6 when omitted. This endpoint produces a single short clip. For longer, multi-scene, professionally edited videos, use a video workflow such as `POST /v1/workflows/script-to-video`."},"aspectRatio":{"$ref":"#/components/schemas/AspectRatio","description":"Aspect ratio for the generated video. Defaults to 16:9 when omitted."},"quality":{"type":"string","enum":["STANDARD","HIGH"],"default":"STANDARD","description":"Video generation quality tier. STANDARD is fastest; HIGH is slowest and highest quality."},"watermarkMode":{"$ref":"#/components/schemas/WatermarkMode"},"numResults":{"type":"integer","minimum":1,"maximum":100,"default":1,"description":"Number of output results to generate. Defaults to 1."},"isOutputTemporary":{"type":"boolean","default":false,"description":"When true, generated files are temporary. Temporary files are guaranteed to be available for 24 hours, after which they may be archived at any time. Temporary files are not analyzed (no description, transcript, or embedding will be generated), so they will not appear in search results. Defaults to false."}}},"PronunciationReplacement":{"type":"object","required":["original","replacement"],"properties":{"original":{"type":"string"},"replacement":{"type":"string"}}},"TextToSpeechRequest":{"type":"object","required":["ttsText","voiceId"],"properties":{"ttsText":{"type":"string"},"voiceId":{"type":"string","description":"Voice id from `GET /v1/resources/tts-voices`. Only voices with `supportsDirectToolExecution` set to true are accepted."},"speechLanguageCode":{"type":["string","null"],"description":"ISO-639-1 language hint for pronunciation (e.g. `en`, `es`, `zh`)."},"pronunciationReplacements":{"type":"array","items":{"$ref":"#/components/schemas/PronunciationReplacement"}},"autoExpandPronunciationReplacements":{"type":"boolean","description":"When true, automatically expands numbers, symbols, acronyms, and other non-word tokens into their spoken forms before synthesis so the voice pronounces them correctly (e.g. `$100` → `one hundred dollars`, `NASA` → `nasa`, `3rd` → `third`). Defaults to false when omitted."},"voiceSpeed":{"type":"number","description":"Speech rate multiplier. Defaults to the voice's default speed."},"numResults":{"type":"integer","minimum":1,"maximum":100,"default":1,"description":"Number of output results to generate. Defaults to 1."},"isOutputTemporary":{"type":"boolean","default":false,"description":"When true, generated files are temporary. Temporary files are guaranteed to be available for 24 hours, after which they may be archived at any time. Temporary files are not analyzed (no description, transcript, or embedding will be generated), so they will not appear in search results. Defaults to false."}}},"GenerateSoundEffectRequest":{"type":"object","required":["prompt"],"properties":{"prompt":{"type":"string","description":"A text description of the sound effect to generate."},"durationSeconds":{"type":["number","null"],"minimum":1,"maximum":30,"description":"Desired length of the sound effect in seconds, between 1 and 30. Defaults to about 10 seconds when omitted."},"promptInfluence":{"type":["number","null"]},"numResults":{"type":"integer","minimum":1,"maximum":100,"default":1,"description":"Number of output results to generate. Defaults to 1."},"isOutputTemporary":{"type":"boolean","default":false,"description":"When true, generated files are temporary. Temporary files are guaranteed to be available for 24 hours, after which they may be archived at any time. Temporary files are not analyzed (no description, transcript, or embedding will be generated), so they will not appear in search results. Defaults to false."}}},"GenerateMusicRequest":{"type":"object","required":["prompt"],"properties":{"prompt":{"type":"string","description":"A text description of the music to generate. Include genre, mood, instrumentation, and tempo for best results."},"numResults":{"type":"integer","minimum":1,"maximum":100,"default":1,"description":"Number of output results to generate. Defaults to 1."},"isOutputTemporary":{"type":"boolean","default":false,"description":"When true, generated files are temporary. Temporary files are guaranteed to be available for 24 hours, after which they may be archived at any time. Temporary files are not analyzed (no description, transcript, or embedding will be generated), so they will not appear in search results. Defaults to false."}}},"GenerateAvatarRequest":{"type":"object","required":["avatarPresenterId","audioStorageFileId"],"properties":{"avatarPresenterId":{"type":"string","description":"Presenter id from `GET /v1/resources/avatar-presenters`."},"audioStorageFileId":{"type":"string","description":"File id of an AUDIO file (e.g. `vg_file_...`), typically from a prior text-to-speech result. Upload a file first via `POST /v1/files/upload` or generate one with `POST /v1/tools/text-to-speech`, then pass the returned id here."},"watermarkMode":{"$ref":"#/components/schemas/WatermarkMode"},"numResults":{"type":"integer","minimum":1,"maximum":100,"default":1,"description":"Number of output results to generate. Defaults to 1."},"isOutputTemporary":{"type":"boolean","default":false,"description":"When true, generated files are temporary. Temporary files are guaranteed to be available for 24 hours, after which they may be archived at any time. Temporary files are not analyzed (no description, transcript, or embedding will be generated), so they will not appear in search results. Defaults to false."}}},"ImageAssetRequest":{"type":"object","required":["imageStorageFileId"],"properties":{"imageStorageFileId":{"type":"string","description":"File id of the source image (e.g. `vg_file_...`). Upload a file first via `POST /v1/files/upload`, then pass the returned id here."
[...]
